$namespace: '.shops';

#{$namespace} {
  display: flex;
  justify-content: center;

  #{$namespace}__inner {
    border: 1px solid rgba(#000, .1);
    border-radius: 5px;
    margin: 100px 15px;
    max-width: 100%;
    padding: 30px;
    width: 400px;
  }

  #{$namespace}__title {
    border-bottom: 1px solid rgba(#000, .1);
    margin-bottom: 15px;
  }

  #{$namespace}__list {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
  }

  #{$namespace}__list-item {

    + #{$namespace}__list-item {
      margin-top: 10px;
    }
  }

  #{$namespace}__loader {
    margin: 100px 15px;
  }
}