<div class="shops">

  <div class="shops__inner" *ngIf="shops$ | async as shops; else loading">
    <div *ngIf="shops.length > 0; then shopsList else firstShop"></div>

    <ng-template #shopsList>
      <div class="shops__title">
        <h4>Shops</h4>
      </div>

      <ul class="shops__list">
        <li class="shops__list-item" *ngFor="let shop of shops">
          <app-shop-item [shop]="shop"></app-shop-item>
        </li>
      </ul>

      <!-- <a class="shops__add-new" (click)="onAddNewShopClick()">Add new Shop</a> -->
    </ng-template>

    <ng-template #firstShop>
      <div class="shops__title">
        <h4>Add your first shop</h4>
      </div>
      <ul class="shops__list">
        <li class="shops__list-item">
          <app-shop-item
            [isEditing]="true"
            (save)="onShopSave($event)">
          </app-shop-item>
        </li>
      </ul>
    </ng-template>
  </div>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>

</div>
