$namespace: '.shop-item';

#{$namespace} {
  align-items: center;
  display: flex;

  #{$namespace}__img {
    $size: 38px;

    background-color: rgba(#000, .4);
    border-radius: 50%;
    flex: none;
    height: $size;
    margin-right: 10px;
    overflow: hidden;
    width: $size;
  }

  #{$namespace}__form {
    display: flex;
  }

  #{$namespace}__form-button {
    margin-left: 10px;
  }
}